<!DOCTYPE html>
<html>
  <head>
    <title>MyDICEToken</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>

  <body>
    <%= link_to "USD", currencies_USD_path %>
    <%= link_to "IDR", currencies_IDR_path %>
    <%= link_to "ÃICE", token_details_path %>
    <%= yield %>
  </body>
</html>
